<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="container-fluid" style="width: 800px;">
        <div class="row">
            <div class="backgroundOrder" style="background-image: url('https://drive.google.com/uc?export=download&id=1Y3QuhUKcxoWFCwxI_Gx-4FDUw7sx-6Hw');height: 211px;background-repeat: no-repeat;background-size: contain;">
            </div>
        </div>
        <div class="row">
            <p>
                <h3>Hi, Sample Customer!</h3>
            </p>
            <p>
                Unfortunately, Your order has been cancelled. We are sorry for this. Please, try again or contact with our customer support team.
            </p>
        </div>
        <div class="row">
            <span class="col-12">
                Regards,
            </span>
            <span class="col-12">
                AnazBD Team.
            </span>
        </div>

    </div>
    <table class="container-fluid" style="width:800px;margin-top: 25px;">
        <tr class="row" style="font-size: 20px;">
            <td>
                <strong>By Anaz Electronic</strong>
            </td>
        </tr>
        <tr class="row">
            <td class="col">
                <strong>Image</strong>
            </td>
            <td class="col">
                <strong>Item</strong>
            </td>
            <td class="col">
                <strong>Price</strong>
            </td>
            <td class="col">
                <strong>QTY</strong>
            </td>
            <td class="col">
                <strong>Price * QTY</strong>
            </td>
        </tr>
        <tr class="row">
            <td class="col">
                <img class="img-responsive" src="http://placehold.it/" style="max-width: 9%;"/>
            </td>
            <td class="col">
                <strong>Chair</strong>
            </td>
            <td class="col">
                <strong>25000</strong>
            </td>
            <td class="col">
                <strong>1</strong>
            </td>
            <td class="col">
                <strong>25000</strong>
            </td>
        </tr>
        <tr class="row" style="padding-top: 44px;">
            <td class="col">
                <strong>Billing Details</strong>
            </td>
            <td class="col">
                <strong>Summary</strong>
            </td>
        </tr>
        <tr class="row" style="padding-top: 1px;">
            <td class="col" style="font-size: 14px;">
                <tr class="row">
                    <td class="col">
                        Customer Name:
                    </td>
                    <td class="col">
                        Sample Customer
                    </td>
                </tr>
                <tr class="row">
                    <td class="col">
                        Shipping Address:
                    </td>
                    <td class="col">
                        Chittagong shopping complex, Kajir Dewri, shop no- 4700.
                    </td>
                </tr>
                <tr class="row">
                    <td class="col">
                        Phone Number:
                    </td>
                    <td class="col">
                        01710245836
                    </td>
                </tr>
                <tr class="row">
                    <td class="col">
                        payment method:
                    </td>
                    <td class="col">
                        Cash on delivery
                    </td>
                </tr>
                <tr class="row">
                    <td class="col">
                        Billing Address:
                    </td>
                    <td class="col">
                        Chittagong shopping complex, Kajir Dewri, shop no- 4700.
                    </td>
                </tr>
            </td>
            <td class="col">
                <tr class="row">
                    <td class="col">
                        Subtotal (1 item):
                    </td>
                    <td class="col">
                        Chair
                    </td>
                </tr>
                <tr class="row">
                    <td class="col">
                        Delivery Charge:
                    </td>
                    <td class="col">
                        120
                    </td>
                </tr>
                <tr class="row">
                    <td class="col">
                        Discount Coupon:
                    </td>
                    <td class="col">
                        AnazCyclone
                    </td>
                </tr>
                <tr class="row">
                    <td class="col">
                        Total:
                    </td>
                    <td class="col">
                        25120
                    </td>
                </tr>
            </td>
        </tr>
    </table>
</body>
</html>
