<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
      integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g=="
      crossorigin="anonymous"/>

<!--items below-->
<div style="background-image: url('black-linen.png'); width: 200px;height: 317px;/* border-radius: 5% 5% 0% 0%; */margin: 74px;box-shadow: 3px 3px 20px -5px;z-index: 4;">
    <div style="/* background-image: url('wave-textures-white-background-vector_53876-60286.jpg'); */text-align: center;background-color: rgba(240,255,240,0.5);height: 31px;width: 86%;border-bottom-left-radius: 39px;border-bottom-right-radius: 39px;margin-left: 14px;box-shadow: 0px 0px 9px 1px;top: 2px;position: relative;">
        <h4>Toha</h4>
    </div>
    <div style="background-image: url('wave-textures-white-background-vector_53876-60286.jpg'); height: 165px;width: 165px;/* background-color: #cb6fd7; */margin: 18px;box-shadow: 0px 0px 9px 0px;border-radius: 5%;">
        <img src="dress_shirt_PNG8117.png" style="height: 165px;width: 165px;/* background-color: rgba(255,255,255,1); */">
    </div>
    <div class="row" style="height: 71px;background-color: rgba(255,255,255,0.4);z-index: -1;width: 200px;margin-left: 0px;/* border-bottom-left-radius: 14px; *//* border-bottom-right-radius: 14px; */margin-top: 32px;box-shadow: 0px 6px 20px -6px;">
        <div class="col-4" style="height: 52px;/* background-color: lightskyblue; */padding: 0;margin-top: 9px;border-left: 1px solid grey;border-right: 1px solid grey;">
            <img src="https://purepng.com/public/uploads/large/purepng.com-black-t-shirtclothingblack-t-shirtfashion-dress-shirt-black-cloth-tshirt-631522326884bzr0p.png" style="height: 52px;width: 100%;">
        </div>
        <div class="col-4" style="height: 52px;/* background-color: indianred; */padding: 0;margin-top: 9px;border-left: 1px solid grey;border-right: 1px solid grey;">
            <img src="https://purepng.com/public/uploads/large/purepng.com-black-t-shirtclothingblack-t-shirtfashion-dress-shirt-black-cloth-tshirt-631522326884bzr0p.png" style="height: 52px;width: 100%;">
        </div>
        <div class="col-4" style="height: 52px;/* background-color: greenyellow; */padding: 0;margin-top: 9px;border-left: 1px solid grey;border-right: 1px solid grey;">
            <img src="https://purepng.com/public/uploads/large/purepng.com-black-t-shirtclothingblack-t-shirtfashion-dress-shirt-black-cloth-tshirt-631522326884bzr0p.png" style="height: 52px;width: 100%;">
        </div>
    </div>
</div>


<!--items on the right-->
<div style="background-color: white;width: 261px;height: 220px;/* border-radius: 5% 5% 5% 5%; */margin: 76px;box-shadow: 3px 3px 20px 0px;z-index: 4;">
    <div style="text-align: center;background-color: lightskyblue;height: 31px;width: 64%;border-bottom-left-radius: 39px;border-bottom-right-radius: 39px;margin-left: 14px;box-shadow: 0px 0px 9px 0px;">
        <h4>Toha</h4>
    </div>
    <div style="height: 165px;width: 165px;/* background-color: #cb6fd7; */margin: 15px 18px 18px 13px;box-shadow: 0px 0px 9px 0px;border-radius: 5%;">
        <img src="dress_shirt_PNG8117.png" style="height: 165px;width: 165px;">
    </div>
    <div class="row" style="height: 67px;/* background-color: #6f8a3c; */z-index: -1;width: 220px;margin-left: 110px;/* border-bottom-left-radius: 14px; *//* border-bottom-right-radius: 14px; */margin-top: -153px;box-shadow: 0px -7px 13px -12px;transform: rotate(-90deg);">
        <div class="col-4" style="height: 59px;/* background-color: lightskyblue; */padding: 0;transform: rotate(90deg);margin-top: 4%;border-bottom: 1px solid;">
            <img src="https://purepng.com/public/uploads/large/purepng.com-black-t-shirtclothingblack-t-shirtfashion-dress-shirt-black-cloth-tshirt-631522326884bzr0p.png" style="height: 52px;width: 90%;left: 5px;position: absolute;">
        </div>
        <div class="col-4" style="height: 59px;/* background-color: lightskyblue; */padding: 0;transform: rotate(90deg);margin-top: 4%;border-bottom: 1px solid;">
            <img src="https://purepng.com/public/uploads/large/purepng.com-black-t-shirtclothingblack-t-shirtfashion-dress-shirt-black-cloth-tshirt-631522326884bzr0p.png" style="height: 52px;width: 90%;left: 5px;position: absolute;">
        </div>
        <div class="col-4" style="height: 59px;/* background-color: lightskyblue; */padding: 0;transform: rotate(90deg);margin-top: 4%;border-bottom: 1px solid;">
            <img src="https://purepng.com/public/uploads/large/purepng.com-black-t-shirtclothingblack-t-shirtfashion-dress-shirt-black-cloth-tshirt-631522326884bzr0p.png" style="height: 52px;width: 90%;left: 5px;position: absolute;">
        </div>
    </div>
</div>


<!--items on the left-->
<div style="background-color: white;width: 253px;height: 225px;/* border-radius: 5% 5% 5% 5%; */margin: 112px;box-shadow: 3px 3px 20px 0px;z-index: 4;">
    <div style="text-align: center;background-color: lightskyblue;height: 31px;width: 60%;border-bottom-left-radius: 39px;border-bottom-right-radius: 39px;margin-left: 81px;box-shadow: 0px 0px 9px 0px;">
        <h4>Toha</h4>
    </div>
    <div style="height: 165px;width: 165px;/* background-color: #cb6fd7; */margin: 17px 23px 21px 76px;box-shadow: 0px 0px 9px 0px;border-radius: 5%;">
        <img src="dress_shirt_PNG8117.png" style="height: 165px;width: 165px;">
    </div>
    <div class="row" style="height: 67px;/* background-color: #6f8a3c; */z-index: -1;width: 208px;margin-left: -70px;/* border-bottom-left-radius: 14px; *//* border-bottom-right-radius: 14px; */margin-top: -148px;box-shadow: 2px 5px 17px -14px;transform: rotate(90deg);">
        <div class="col-4" style="height: 51px;/* background-color: lightskyblue; */padding: 0;transform: rotate(-90deg);margin-top: 4%;">
            <img src="https://purepng.com/public/uploads/large/purepng.com-black-t-shirtclothingblack-t-shirtfashion-dress-shirt-black-cloth-tshirt-631522326884bzr0p.png" style="height: 52px;width: 100%;">
        </div>
        <div class="col-4" style="height: 52px;/* background-color: indianred; */padding: 0;transform: rotate(90deg);height: 51px;margin-top: 4%;transform: rotate(-90deg);">
            <img src="https://purepng.com/public/uploads/large/purepng.com-black-t-shirtclothingblack-t-shirtfashion-dress-shirt-black-cloth-tshirt-631522326884bzr0p.png" style="height: 52px;width: 100%;">
        </div>
        <div class="col-4" style="height: 52px;/* background-color: greenyellow; */padding: 0;transform: rotate(90deg);height: 51px;margin-top: 4%;transform: rotate(-90deg);">
            <img src="https://purepng.com/public/uploads/large/purepng.com-black-t-shirtclothingblack-t-shirtfashion-dress-shirt-black-cloth-tshirt-631522326884bzr0p.png" style="height: 52px;width: 100%;">
        </div>
    </div>
</div>
